node_modules/
dist/
*.pem
*.crx
*.zip
.wrangler/
.env
.DS_Store
extension-key.pem
website/.astro/
installer/dist/
installer/installer
installer/installer.exe
sample.html
sample.2.html
*.js.map
.ouroboros
.vexp
sample_html