---
interface Props {
	version: string;
}

const { version } = Astro.props;
---

<span class="badge animate-fade-in">
  <span class="font-mono">v{version}</span>
  <span class="text-primary-400/50">&middot;</span>
  <span class="text-primary-400/70">Latest Release</span>
</span>
